.App {
  text-align: center;
  background-color: #cb7621;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 60px 40px;
  padding-top: 0;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  min-width: 108px ;
  min-height: 32px;
  border-radius: 0 !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  background-color: transparent !important;
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.titleLabelForm {
  position: absolute;
  left: 0;
  top: -50px;
  color: #726e6e
}


.linkButtonsStyling{
  text-decoration: none;
  color: #efd9c1;
}

input {
  outline:none;
}


.styleLogo {
  text-align: initial;
  margin-bottom: 20px;
}


.alert {
  position: relative;
  padding: 0 !important;
  margin-bottom: 1rem;
  border: none !important;
  border-radius: 0 !important;
}

.alert-danger {
  color: #826366 !important;
  background-color: rgb(198, 240, 140) !important;
}

.addMargin {
  margin: 1.5rem;
}
